*{
    box-sizing: border-box;
    font-family:'roboto',arial,serif;
}
body{
    width: 100%;
    margin: 0;
}
a{
    text-decoration: none;
    color:$black;
    font-weight:normal;
}

.header__restaurant
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom: 15px;
    padding-top: 15px;
    align-items:center;
    a{
        margin:  0 60px 0 -55px;
    }
}
.background-photo img {
    width: 100%;
    height: auto;
    max-height: 200px;
}
.menu{
    margin-top:-20px;
    border-radius: 35px 35px 0 0;
    background-color:$lightgray;
    width: 100%;
    padding:2.5% 2.5%;
    &__titre{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }
    &__categorie{
        height:40px;
        font-weight: normal;
        // text-decoration: underline $color-tertiary 3px;
        width: 54px;
        border-bottom: 3px solid $color-tertiary;
        margin-bottom:10px;
    }
}
.plat{
    margin-bottom: 20px;
    background-color: $white;
    border-radius: 15px 10px;
    height:80px;
    a{
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        padding: 0 15px;
        line-height: 10px;
    }
    &__description{
        text-overflow: ellipsis;
    }
}
//footer
.logo{
    font-family: 'Shrikhand';
    color:$white;
    margin:0 0 -10px 25px;
    padding-top:15px;
}
footer{
    background-color:$black;
    margin:0 0 -5% -5%;
    ul{
      padding-left: 25px;
      list-style:none;
    }
    a{
      color:$white;
    }
    
}
  