footer{
  background-color:#353535;
  padding-bottom:16px;
  ul{
    padding-left: 25px;
    list-style:none;
    li {
      margin-bottom: 5px;
      &:nth-child(1){
        i{
          margin-right:18px;
        }
      }
    }
    i{
      color:$white;
      margin-right:10px;
    }
  }
  a{
    color:$white;
  }
    
}