@keyframes itemAppear {
    0% {
      transform: scale(0);
      transform-origin: 40px 160px;
    }
    100% {
      transform: scale(1);
      transform:translateY(160);
    }
}
  
@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
} 