.loader{
    position: fixed;
    height: 100%;
    width: 76%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: loader .01s 1.75s both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    &__item-container{
        display: flex;
        width: 5rem;
        justify-content: space-between;
    }
    &__item{
        color:$color-tertiary;
        animation: rotate 1s 1;
        
        
    }
}