.background__photo {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}
.menu{
    margin-top:-50px;
    border-radius: 50px 50px 0 0;
    background-color:$lightgray;
    width: 95%;
    padding:2.5% 2.5%;
    position:relative;
    z-index:2;
    &__header{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        height:100px;
        
    }
    &__titre{
      font-family: "Shrikhand";
      font-size:2.3em;
    }
    &__categorie{
        height:40px;
        font-weight: normal;
        width: 54px;
        border-bottom: 3px solid $color-tertiary;
        margin-bottom:10px;
    }
}