.plat{
    margin-bottom: 20px;
    background-color: $white;
    border-radius: 15px 10px;
    height:80px;
    width:100%;
    overflow: hidden;
    
    a{
        display: flex;
        flex-direction:row-reverse;
        justify-content:space-between;
        line-height: 10px;
        height:80px;
        width:95%;
        position: relative;
        &:focus{
         .plat__statique{

                border-right: $lightgray 3px solid;
                animation-duration: 400ms;
                animation-name: slidein;
                animation-iteration-count: 1;
                animation-direction: normal; 
                animation-fill-mode: forwards;
            }
         .plat__checks--rot{
            transform: rotate(-1turn);
            
         }
         
        }
    }
    &__statique{
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        width: 101%;
        height:80px;
        background-color: $white;
        z-index: 3;
        padding:0 15px;
        position: absolute;
        &__description{
            text-overflow: ellipsis;
        }

    }
    &__checks{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        background-color: $color-tertiary;
        color:$white;
        font-size: 2em;
        width:10%;
        margin-right:-37px;
        padding-left: 10px;
        &--rot{
            transition: transform 500ms 150ms ease-in-out;
        }
        
        
    }
    
}