.plat{
    margin-bottom: 20px;
    background-color: $white;
    border-radius: 15px 10px;
    height:80px;
    width:100%;
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.83,1.66,.55,.44);
    animation-fill-mode: both;
    transform: scale(0);
    
    a{
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        height:80px;
        width:100%;
        position: relative;
        &:hover{
         .plat__checks--rot{
            transform: rotate(-1turn);
         }
         .plat__checks--slidein{
            animation: slidein 1s ease-in-out forwards;
         }
         
        }
    }
    &__statique{
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        width: 100%;
        height:80px;
        background-color: $white;
        z-index: 3;
        padding:0 15px;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        box-sizing: border-box;
        &__descriptions{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            p {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            h3{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden; 
            }
        }
        &__prix{
            margin-top:30px;
        }
        p{
            margin-top: -10px;
        }

    }
    &__checks{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        background-color: $color-tertiary;
        color:$white;
        font-size: 2em;
        width:0px;
        height:80px;
        left: -80px;
        &--rot{
            transition: transform 500ms 150ms ease-in-out;
        }
        
        
    }
    
}
@for $i from 1 to 9 {
    .delay-#{$i} {
        animation-delay: $i*100ms;
    }
}