/* Error: expected ";".
 *   ,
 * 6 |     z-index: 1000;
 *   |            ^
 *   '
 *   sass\Layout\_header.scss 6:12  @import
 *   sass\main.scss 5:26            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 6 \2502      z-index: 1000;\d\a   \2502             ^\a   \2575 \a   sass\\Layout\\_header.scss 6:12  @import\a   sass\\main.scss 5:26            root stylesheet';
}
