@font-face {
    font-family:'Roboro';
    src: url(/Roboto/Roboto-Regular.ttf)format('truetype');
  }
@font-face {
    font-family:'Shrikhand';
    src: url(/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
  }