.header{
  display:flex;
  flex-direction: column;
  text-align:center;
  background-color:$lightgray;
  margin-left: -8px;
  width: 100%;
}
.header__logo--acceuil{
  width: 100%;
  background-color:$white;
  box-shadow: 0 15px 0 -11px #d9d9d9 ;
  text-align:center;
  margin-bottom:5px;
}

.header__input{
  background-color:#eaeaea;
  width:100%;
  height:50px;
  margin-left: -20px;
  padding-left: 25%;
  padding-top: 10px;
  input{
    width:50%;
    border:unset;
    background-color: unset;
    padding-top: 2px;
    font-weight: bold;
    &:focus{
      border:offset;
    }
    ::placeholder{
      color:$black;
      opacity: 1;
    }
  }
}

.header__text{
  
  width:90%;
  margin:auto;
  p{
    margin-top:-10px;
  }
}

.section2{
    width:98%;
    margin:auto;
}
.restaurant{
  width:103%;
  background-color: $lightgray;
  margin-left: -4px;
  padding: 10px;
  &__choix{
    width:auto;
    max-width: 98%;
    height:360px;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content:start;
    border-radius: 15px 10px;
    background-color:$white;
    img{
      width:100%;
      // width:auto;
      // max-width:98%;
      height: 260px;
      border-radius: 15px 10px 0 0;
      margin-bottom: 5px;
    }
    &__description{
      // display:flex;
      // flex-direction: column;
      // justify-content:start;
      margin-top: -20px;
      margin-left: 10px;
      text-decoration: none;
      color:$black;
      h2{
        font-size:16px;
      }
      p{
        font-size: 12px;
      }
  
    }
  }
}  
  