.acceuil{
  display:flex;
  flex-direction: column;
  text-align:center;
  background-color:$lightgray;
  margin-left: -8px;
  width: 100%;
}
.acceuil__input{
  background-color:#eaeaea;
  width:100%;
  height:50px;
  margin-left: -20px;
  padding-left: 25%;
  padding-top: 10px;
  input{
    width:50%;
    border:unset;
    background-color: unset;
    padding-top: 2px;
    font-weight: bold;
    &:focus{
      border:offset;
    }
    ::placeholder{
      color:$black;
      opacity: 1;
    }
  }
}

.acceuil__text{
  
  width:90%;
  margin-bottom:20px;
  margin-left: 40px;
  p{
    margin-top:-10px;
  }
}

.section1{
  width: 98%;
  margin: auto;
}
.guide{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  // h2{
  //   margin-left: 5%;
  // }
  //pas pris en compte !
  &__etapes{
    .violet{
      color: $color-primary;
    }
    .grey{
      color: #9c9c9c;
    }
    p{
      margin-left: -20px;
    }
    span{
      border-radius:50%;
      background-color: $color-primary;
      padding:4px 6px;
      text-align: center;
      color: $white;
      margin-left: -37px;
      
    }
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $lightgray;
    width: 90%;
    margin: 0 5% 10px 5%;
    border-radius:20px ;
  }
}
.section2{
    width:98%;
    margin:auto;
}
.restaurant{
  width:99%;
  background-color: $lightgray;
  margin-left: -4px;
  padding: 10px;
  &__choix{
    width:auto;
    max-width: 97%;
    height:360px;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content:start;
    border-radius: 15px 10px;
    background-color:$white;
    img{
      width:100%;
      // width:auto;
      // max-width:98%;
      height: 260px;
      border-radius: 15px 10px 0 0;
      margin-bottom: 5px;
    }
    &__description{
      // display:flex;
      // flex-direction: column;
      // justify-content:start;
      margin-top: -20px;
      margin-left: 10px;
      text-decoration: none;
      color:$black;
      h2{
        font-size:16px;
      }
      p{
        font-size: 12px;
      }
  
    }
  }
}  
  