$color-primary:#9356dc;
$color-primaryl:#9866d4;
$diff-primary:linear-gradient($color-primary,#a678df);
$color-secondary:#ff79da;
$color-secondaryl:#fc89db;
$color-tertiary:#99e2d0;
$black:black;
$lightgray:#f2f2f2;
$darkgray:#d9d9d9;
$white:#fff;